@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

.back-img{
    background: url("back.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
   
    
}
.box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* background-color: #fafafa;
    box-shadow: 0 2px 8px rgba(0,0,0,.16); */
    height: 550px;
    width: 500px;
    text-align: center;
    font-family: 'Nunito',sans-serif;
   
}

.add-elements{
    margin: 12px 0px;
    background-color: #a793c2;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    border-radius: 10px;
    height: 90px;
    padding-top: 20px;
    width: 500px;

    
    
}
input{
    padding: 12px 4px;
    width: 60%;
    border: 2px solid rgb(165, 164, 164);
    border-radius: 5px;
   
}
button{
    padding: 12px 50px;
    background-color: #313435;
    border: none;
    border-radius: 5px;
    color: #fafafa;

}
.element-list1 {
    height: 450px;
    overflow-y: scroll;
    margin: 12px 0px;
    background-color: #f3eff3;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    padding-top: 20px;
    width: 500px;
    border-radius: 10px;
}


ul{
    padding: 15px;
    font-weight: bold;
}

/* Styling List Elements */

.element-list1 li{
    list-style: none;
    padding: 30px 5px;
    background-color: rgb(230, 227, 227);
    margin: 12px 0px;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    border-radius: 3px;
    transition: .4s;
  

    
}



/* applying cursor on list items */

.element-list1 li:hover{
    cursor: pointer;
}


/* input button hover */
button:hover{
    background-color: #494a4b;
}

.element-list1 li:hover{
    background-color: #b6adad;
}



.checked{
    text-decoration: line-through;
    background-color: #e0e0e0;
}

i{
    color: #fff;
    float: right;
    background-color: #a793c2;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}